:root {
    --color-primario: #1e4a63;
    --color-hover-vermas: rgb(30 74 99 / 70%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}
body{
    background-color: #04161f;
}
.poster-grande {
    width: 100%;
    height: 350px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
a.añadir-favorito{
    display: none;
}
.meta-tags--o8OYw {
    display: flex;
}
.Genero {
    margin: 0px 10px;
}
span#GJ0H7QGME {
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
path {
    fill: var(--color-primario);
}
.flecha-salir svg path {
    fill: white;
}

.flecha-salir svg {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 999;
    margin: 10px;
    transform: rotate(180deg);
}
select#gender-select {
    width: 150px;
    height: 40px;
    margin: 15px 0px 20px 2%;
    border-radius: 3px;
    background: #04161f;
    color: white;
    outline: none;
    text-align: center;
}
